, ::before, ::after {

    box-sizing: border-box;
    margin: 0;
    padding: 0;
    user-select: none;

}
body, html {
    height: 100%;
}

body {
    background: #120f1f;
    display: grid;
    place-items: center;

}

.calculatrice {
    width: 330px;
    background: #120f1f;
    padding: 40px;30px;
    border-radius:10px;
    box-shadow: -3px -3px 7px #221d32,3px 3px 5px #00000070;

} 

.resultat {
    height: 60px;
    width: 100%;
    background: #120f1f;
    box-shadow: inset -3px -3px -7px #221d3b,inset 3px 3px 5px #00000070;

}



.reset {
    width: 100%! important;
    font-size: 18px;
}

.infos {
    color: #eb9595;
    text-align: center;
    text-transform: uppercase;
    font-size: 9px;
    margin-bottom: 1rem;
    font-weight: 400;
}






















